:root {
  --booger: #a1cd4a;
  --dark-blue-green: #006837;
  --dark-grey: #1e191a;
  --grey: #eaebec;
  --grey-overlay: #333;
  --fern-green: #51893e;
  --secondary: #d7e695;
  --tertiary: #e5eead;
  --warm-grey: #6f6f6f;
  --white: #fff;
}
