@import './scssVariables';

* {
  font-family: lato;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.general-container {
  padding: 50px 0;
  width: 100%;
}

.section-content {
  margin: 0 auto;
  max-width: $bp-lg;
  width: 100%;
}

.section-container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  color: var(--dark-blue-green);
  align-self: left;
  text-transform: uppercase;

  @media (min-width: $bp-sm) {
    font-size: 30px;
  }
}

.h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-blue-green);
  align-self: left;
  text-transform: uppercase;

  @media (min-width: $bp-sm) {
    font-size: 22px;
  }
}

.img {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  background-color: var(--fern-green);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:focus,
  &:hover {
    background-color: var(--dark-blue-green);
    color: var(--white);
    text-decoration: none;
  }
}

.p {
  font-size: 21px;
  color: var(--warm-grey);

  @media (min-width: $bp-sm) {
    font-size: 24px;
  }
}

.list-item-without-bullet {
  list-style-type: none;
}

.scme-link {
  border-bottom: 1px solid transparent;
  font-weight: bold;
  color: var(--dark-blue-green);
  transition: border 0.3s ease-in-out;

  &:focus,
  &:hover {
    border-bottom: 1px solid var(--dark-blue-green);
    color: var(--dark-blue-green);
  }
}

.events-preview-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0 auto;
}

.posts-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0 auto;
}
