//==================================================================================================//
// Defining Breakpoints                                                                             //
//==================================================================================================//
// It's important to use standard breakpoints throughout the application.                           //
//==================================================================================================//

$bp-xs: 640px !default;
$bp-sm: 880px !default;
$bp-md: 960px !default;
$bp-lg: 1284px !default;
