@import 'scssVariables';

.tabs-component {
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--booger);

  .tabs-component-tabs {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    overflow: auto;

    @media (min-width: $bp-md) {
      justify-content: center;
    }
  }

  .tabs-component-tab {
    flex: 0 0 auto;
    min-width: 240px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    text-align: center;
    background-color: var(--booger);

    &.is-active {
      background-color: var(--secondary);
    }
  }

  .tabs-component-tab-a {
    color: var(--white);
  }

  .is-active {
    .tabs-component-tab-a {
      color: var(--dark-blue-green);
    }
  }

  .tabs-component-panels {
    min-height: 200px;
    padding: 20px;
    background-color: var(--secondary);
  }
}
