.scme-table {
  width: 100%;
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
  font-weight: bold;
  color: var(--fern-green);
  text-transform: uppercase;

  caption {
    font-size: 1.3em;

    @media (min-width: $bp-xs) {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }
  }

  thead {
    @media (max-width: $bp-xs) {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  tr {
    display: block;
    margin-bottom: 0.625em;
    padding: 0.35em;

    @media (min-width: $bp-xs) {
      display: table-row;
      margin-bottom: 0;
    }

    &:nth-child(even) {
      background-color: var(--tertiary);
    }

    &:nth-child(odd) {
      background-color: var(--secondary);
    }
  }

  th,
  td {
    padding: 0.625em;
    text-align: center;
  }

  th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: var(--booger);
    color: var(--white);
  }

  td {
    display: block;
    font-size: 0.8em;
    text-align: right;

    &:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      float: left;
      min-width: 106px;
      margin-right: 10px;
      content: attr(data-label);
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
    }

    &:last-child {
      border-bottom: 0;
    }

    @media (max-width: $bp-xs) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:empty {
        display: none;
      }
    }

    @media (min-width: $bp-xs) {
      display: table-cell;
      text-align: center;

      &:before {
        display: none;
      }
    }
  }
}
