<template>
  <article class="general-container about-us-preview">
    <div class="section-content">
      <h2 class="h2 section-container">Nosotros</h2>
      <div class="section-container about-us-preview-content">
        <div class="about-us-preview-img-container">
          <img src="~/assets/img/researchers_collecte_SaSop.jpg" alt="Investigadores recabando datos" class="img">
        </div>
        <p class="about-us-preview-p p">La SCME tiene la finalidad de integrar a los ecólogos mexicanos en una sociedad científica para estimular la investigación en todos los ámbitos de la disciplina, fomentando y fortaleciendo la comunicación entre los ecólogos y con la sociedad, promoviendo la aplicación responsable de los datos y teorías ecológicas y evolutivas para la conservación de la biodiversidad de México como país megadiverso, sus ecosistemas y los servicios ambientales que estos brindan a la sociedad, así como para contribuir a la resolución de problemas ambientales.</p>
      </div>
      <nuxt-link to="/about-us"><button class="btn">Conócenos</button></nuxt-link>
    </div>
  </article>
</template>

<style lang="scss">
@import '~assets/scss/scssVariables';

.about-us-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, var(--grey), var(--secondary));

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-us-preview-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media (min-width: $bp-sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .about-us-preview-img-container {
    margin-bottom: 20px;
    width: 100%;

    @media (min-width: $bp-sm) {
      margin-bottom: 0;
      width: calc(52% - 20px);
    }
  }

  .about-us-preview-p {
    width: 100%;

    @media (min-width: $bp-sm) {
      width: calc(46% - 20px);
    }
  }
}
</style>
