<template>
  <article class="cover">
    <img src="~/assets/img/logo-scme-white.svg" width="213" alt="Logo SCME" class="logo">
    <h1 class="h1">Sociedad Científica Mexicana de Ecología A. C.</h1>
    <nuxt-link to="/registration"><button class="btn">Quiero ser socio</button></nuxt-link>
  </article>
</template>

<style lang="scss">
@import '~assets/scss/scssVariables';

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: -80px;
  padding: 140px 20px;
  background-image: url('~/assets/img/foto_portada_scme1.jpg');
  background-size: cover;
  background-position: center;

  .logo {
    margin-bottom: 10px;
    width: 110px;

    @media (min-width: $bp-xs) {
      padding: 60px 0;
    }
  }

  .h1 {
    margin-bottom: 100px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    text-align: center;

    @media (min-width: $bp-xs) {
      font-size: 36px;
    }
  }

  .btn {
    font-size: 21px;

    @media (min-width: $bp-xs) {
      font-size: 33px;
    }
  }
}
</style>
