<template>
  <article class="event">
    <div class="event-img" :style="{ backgroundImage: 'url(' + img + ')' }">
      <div class="overlay"></div>
      <a :href="link" target="_blank" class="img-link">
        <button class="btn">Seguir leyendo</button>
      </a>
    </div>
    <a :href="link" target="_blank"><h4 class="h4">{{ title }}</h4></a>
    <div class="event-info" v-html="info"></div>
  </article>
</template>

<script>
export default {
  name: 'event',
  props: {
    img: {
      type: String,
      required: true
    },
    info: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss">
.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--fern-green);

  .event-img {
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--dark-grey);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--grey-overlay);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    .img-link {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .btn {
      z-index: 5;
      opacity: 0;
      transition: background-color 0.25s ease-in-out, opacity 0.35s ease-in-out;
    }

    &:hover {
      .overlay {
        opacity: 0.6;
      }

      .btn {
        background-color: var(--dark-blue-green);
        color: var(--white);
        opacity: 1;
      }
    }
  }

  .h4 {
    font-size: 21px;
    border-bottom: 2px solid transparent;
    color: var(--dark-blue-green);
    text-align: left;
    transition: border 0.25s ease-in-out;

    &:hover {
      border-bottom: 2px solid var(--dark-blue-green);
    }
  }

  .event-info {
    font-size: 16px;
    text-align: left;

    a {
      align-self: flex-end;
      border-bottom: 1px solid transparent;
      font-weight: bold;
      color: var(--dark-blue-green);
      transition: border 0.3s ease-in-out;

      &:focus,
      &:hover {
        border-bottom: 1px solid var(--dark-blue-green);
        color: var(--dark-blue-green);
      }
    }
  }
}
</style>
