<template>
  <article class="general-container events-preview">
    <h2 class="h2 section-container">Últimos eventos</h2>
    <div class="section-container events-preview-content">
      <event v-for="(event, $index) in events" :key="$index" v-bind="event"></event>
    </div>
    <nuxt-link to="/events"><button class="btn">Ver todos</button></nuxt-link>
  </article>
</template>

<script>
import axios from 'axios';
import Event from './Event.vue';

export default {
  components: {
    Event
  },
  data() {
    return {
      events: []
    };
  },
  created() {
    axios
      .get(
        `http://cdn.contentful.com/spaces/${process.env.SPACE_ID}/entries?access_token=${
          process.env.ACCESS_TOKEN
        }&content_type=event&order=-sys.createdAt&limit=2`
      )
      .then(response => {
        response.data.items.forEach(element => {
          const img = response.data.includes.Asset.find(
            asset => element.fields.img && element.fields.img.sys.id === asset.sys.id
          );
          const event = {
            info: element.fields.info,
            img: img ? img.fields.file.url : null,
            link: element.fields.link,
            title: element.fields.title
          };
          this.events.push(event);
        });
      });
  }
};
</script>


<style lang="scss">
.events-preview {
  background-color: var(--booger);

  .btn {
    display: block;
    margin: 0 auto;
  }
}
</style>
