<template>
  <header class="home-header">
    <div class="home-header-mobile">
      <img src="~/assets/img/menu.svg" width="46" alt="Logo SCME" class="burger-menu" @click="openMenu">
      <ul class="menu" :class="{ open: isOpen }">
        <li class="menu-icon" @click="closeMenu"><img src="~/assets/img/menu-green.svg" width="46" alt="Logo SCME" class="burger-menu"></li>
        <nuxt-link tag="li" class="menu-item" to="/about-us"><a class="menu-link">Nosotros</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/scientific-production"><a class="menu-link">Producción científica</a></nuxt-link>
        <!-- <nuxt-link tag="li" class="menu-item" to="/events"><a class="menu-link">Eventos</a></nuxt-link> -->
        <nuxt-link tag="li" class="menu-item" to="/registration"><a class="menu-link">Registro socios</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/contact"><a class="menu-link">Contacto</a></nuxt-link>
      </ul>
    </div>
    <nav class="home-header-desktop">
      <ul class="menu">
        <li class="menu-item"><nuxt-link to="/about-us">Nosotros</nuxt-link></li>
        <li class="menu-item"><nuxt-link to="/scientific-production">Produccion científica</nuxt-link></li>
        <!-- <li class="menu-item"><nuxt-link to="/events">Eventos</nuxt-link></li> -->
        <li class="menu-item"><nuxt-link to="/registration">Registro socios</nuxt-link></li>
        <li class="menu-item"><nuxt-link to="/contact">Contacto</nuxt-link></li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  name: 'home-header',
  data() {
    return {
      bodyElement: null,
      isOpen: false
    };
  },
  methods: {
    closeMenu() {
      this.isOpen = false;
      this.bodyElement.classList.remove('no-scroll');
    },
    openMenu() {
      this.isOpen = true;
      this.bodyElement.classList.add('no-scroll');
    }
  },
  mounted() {
    this.bodyElement = document.querySelector('body');
  }
};
</script>

<style lang="scss">
@import '~assets/scss/scssVariables';
.home-header-mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  padding: 20px;

  @media (min-width: $bp-md) {
    display: none;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
    background-color: var(--secondary);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateY(0);
    }
  }

  .burger-menu {
    cursor: pointer;
  }

  .menu-icon {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .menu-item {
    padding: 20px 0;

    .menu-link {
      border-bottom: 1px solid transparent;
      color: var(--dark-blue-green);
      text-decoration: none;
      text-transform: uppercase;
    }

    &.nuxt-link-active {
      .menu-link {
        border-bottom: 1px solid var(--dark-blue-green);
      }
    }
  }
}

.home-header-desktop {
  display: none;
  height: 100%;
  max-width: 100%;

  @media (min-width: $bp-md) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-item {
    a {
      margin: 0 20px;
      border-bottom: 1px solid transparent;
      font-size: 20px;
      color: var(--white);
      text-decoration: none;
      text-transform: uppercase;
      transition: border 0.3s ease-in-out;

      &:focus,
      &:hover {
        border-bottom: 1px solid var(--white);
      }
    }
  }
}
</style>
