<template>
  <article class="general-container posts-preview">
    <h2 class="h2 section-container">Artículos destacados</h2>
    <div class="section-container posts-container">
      <post v-for="(post, $index) in posts" :key="$index" v-bind="post"></post>
    </div>
    <nuxt-link to="/posts"><button class="btn">Ver todos</button></nuxt-link>
  </article>
</template>

<script>
import axios from 'axios';
import Post from './Post.vue';

export default {
  components: {
    Post
  },
  data() {
    return {
      posts: []
    };
  },
  created() {
    axios
      .get(
        `http://cdn.contentful.com/spaces/${process.env.SPACE_ID}/entries?access_token=${
          process.env.ACCESS_TOKEN
        }&content_type=post&order=-sys.createdAt&limit=3`
      )
      .then(response => {
        response.data.items.forEach(element => {
          const img = response.data.includes.Asset.find(
            asset => element.fields.img && element.fields.img.sys.id === asset.sys.id
          );
          const file = response.data.includes.Asset.find(
            asset => element.fields.file && element.fields.file.sys.id === asset.sys.id
          );
          const post = {
            file: file ? file.fields.file.url : null,
            img: img ? img.fields.file.url : null,
            link: element.fields.link,
            title: element.fields.title
          };
          this.posts.push(post);
        });
      });
  }
};
</script>


<style lang="scss">
.posts-preview {
  background-color: var(--grey);

  .btn {
    display: block;
    margin: 0 auto 20px;
  }
}
</style>
