<template>
  <article class="post">
    <div class="post-img" :style="{ backgroundImage: 'url(' + img + ')' }">
      <div class="overlay"></div>
      <a :href="isFile ? file : link" target="_blank" class="img-link">
        <button class="btn">Seguir leyendo</button>
      </a>
    </div>
    <a :href="isFile ? file : link" target="_blank"><h4 class="h4">{{ title }}</h4></a>
  </article>
</template>

<script>
export default {
  name: 'post',
  props: {
    file: {
      type: String,
      required: false
    },
    img: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: false
    },
    title: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isFile: false
    };
  },
  created() {
    this.isFile = this.file && this.file.length;
  }
};
</script>


<style lang="scss">
.post {
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-img {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--dark-grey);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--grey-overlay);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    .img-link {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .btn {
      z-index: 5;
      opacity: 0;
      transition: background-color 0.25s ease-in-out, opacity 0.35s ease-in-out;
    }

    &:hover {
      .overlay {
        opacity: 0.6;
      }

      .btn {
        background-color: var(--dark-blue-green);
        color: var(--white);
        opacity: 1;
      }
    }
  }

  .h4 {
    font-size: 21px;
    text-align: center;
    color: var(--dark-blue-green);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .scme-link {
    align-self: flex-end;
  }
}
</style>
