<template>
  <article class="related-institutions-section general-container">
    <h2 class="h2 section-container">Instituciones relacionadas</h2>
    <iframe class="map-container section-container" :src="mapLink" frameborder="0" width="100%" height="800"></iframe>
  </article>
</template>

<script>
export default {
  data() {
    return {
      mapLink:
        'https://uploads.knightlab.com/storymapjs/f2daa0aa5491a300605cffe153162651/instituciones-relacionadas/index.html'
    };
  }
};
</script>

<style lang="scss">
.related-institutions-section {
  padding-bottom: 0;
  background-color: var(--grey);

  .map-container {
    display: block;
  }
}
</style>
