<template>
  <footer class="footer general-container">
    <div class="social-icons section-container">
      <a class="social-icon" href="http://facebook.com">
        <img src="~/assets/img/facebook.svg" alt="Visítanos en facebook" width="60">
      </a>
      <a class="social-icon" :href="shareByEmailHref">
        <img src="~/assets/img/envelope.svg" alt="Compartir por correo" width="60">
      </a>
      <a class="social-icon maps-icon" href="http://maps.google.com">
        <img src="~/assets/img/maps.svg" alt="Nuestra ubicación" width="63">
      </a>
    </div>
    <a href="" class="privacy-notice section-container">Aviso de privacidad</a>
    <!-- <a href="https://www.contentful.com/" class="contentful-link" rel="nofollow" target=“_blank”>
      <img src="https://images.contentful.com/fo9twyrwpveg/7Htleo27dKYua8gio8UEUy/0797152a2d2f8e41db49ecbf1ccffdaa/PoweredByContentful_DarkBackground_MonochromeLogo.svg" style="max-width:100px;width:100%;" alt="Powered by Contentful" />
    </a> -->
  </footer>
</template>

<script>
export default {
  data() {
    return {
      shareLink: 'http://scme.com.mx'
    };
  },
  computed: {
    shareByEmailHref() {
      const href = `mailto:?reply-to=soc.mex.ecol@gmail.com&subject=Conoce la página de la SCME&body=${
        this.shareLink
      }`;

      return encodeURI(href);
    }
  }
};
</script>

<style lang="scss">
@import '~assets/scss/scssVariables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icon {
    margin: 0 20px;
    width: 60px;
  }

  .maps-icon {
    margin-top: -6px;
    width: 63px;
  }

  .privacy-notice {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 280px;
    color: var(--warm-grey);
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s ease-in-out color;

    &:hover,
    &:focus {
      color: var(--dark-blue-green);
    }

    @media (min-width: $bp-xs) {
      font-size: 22px;
    }
  }

  .contentful-link {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--dark-grey);
  }
}
</style>
