<template>
  <header>
    <div class="site-header-mobile">
      <nuxt-link to="/" class="logo-container"><img src="~/assets/img/logo-scme-green.svg" width="46" alt="Logo SCME" class="logo"></nuxt-link>
      <img src="~/assets/img/menu-green.svg" width="46" alt="Logo SCME" class="burger-menu" @click="openMenu">
      <ul class="menu" :class="{ open: isOpen }">
        <li class="menu-icon" @click="closeMenu"><img src="~/assets/img/menu-green.svg" width="46" alt="Logo SCME" class="burger-menu"></li>
        <nuxt-link tag="li" class="menu-item" to="/about-us"><a class="menu-link">Nosotros</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/scientific-production"><a class="menu-link">Producción científica</a></nuxt-link>
        <!-- <nuxt-link tag="li" class="menu-item" to="/events"><a class="menu-link">Eventos</a></nuxt-link> -->
        <nuxt-link tag="li" class="menu-item" to="/registration"><a class="menu-link">Registro socios</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/contact"><a class="menu-link">Contacto</a></nuxt-link>
      </ul>
    </div>
    <div class="site-header-desktop">
      <div class="company-container section-container">
        <nuxt-link to="/" class="logo-container"><img src="~/assets/img/logo-scme-green.svg" width="46" alt="Logo SCME" class="logo"></nuxt-link>
        <h1 class="h1">Sociedad Cientifica Mexicana de Ecología, A. C.</h1>
      </div>
      <ul class="menu">
        <nuxt-link tag="li" class="menu-item" to="/about-us"><a class="menu-link">Nosotros</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/scientific-production"><a class="menu-link">Producción científica</a></nuxt-link>
        <!-- <nuxt-link tag="li" class="menu-item" to="/events"><a class="menu-link">Eventos</a></nuxt-link> -->
        <nuxt-link tag="li" class="menu-item" to="/registration"><a class="menu-link">Registro socios</a></nuxt-link>
        <nuxt-link tag="li" class="menu-item" to="/contact"><a class="menu-link">Contacto</a></nuxt-link>
      </ul>
    </div>
  </header>
</template>

<script>
export default {
  name: 'site-header',
  data() {
    return {
      bodyElement: null,
      isOpen: false
    };
  },
  methods: {
    closeMenu() {
      this.isOpen = false;
      this.bodyElement.classList.remove('no-scroll');
    },
    openMenu() {
      this.isOpen = true;
      this.bodyElement.classList.add('no-scroll');
    }
  },
  mounted() {
    this.bodyElement = document.querySelector('body');
  }
};
</script>

<script>
export default {
  name: 'site-header',
  data() {
    return {
      bodyElement: null,
      isOpen: false
    };
  },
  methods: {
    closeMenu() {
      this.isOpen = false;
      this.bodyElement.classList.remove('no-scroll');
    },
    openMenu() {
      this.isOpen = true;
      this.bodyElement.classList.add('no-scroll');
    }
  },
  mounted() {
    this.bodyElement = document.querySelector('body');
  }
};
</script>

<style lang="scss">
@import '~assets/scss/scssVariables';

.site-header-mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px;
  background-color: var(--grey);

  @media (min-width: $bp-sm) {
    display: none;
  }

  .h1 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    color: var(--dark-blue-green);
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 40px 20px 20px 20px;
    list-style: none;
    background-color: var(--secondary);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateY(0);
    }
  }

  .burger-menu {
    cursor: pointer;
  }

  .menu-icon {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .menu-item {
    padding: 20px 0;

    .menu-link {
      border-bottom: 1px solid transparent;
      color: var(--dark-blue-green);
      text-decoration: none;
      text-transform: uppercase;
    }

    &.nuxt-link-active {
      .menu-link {
        border-bottom: 1px solid var(--dark-blue-green);
      }
    }
  }
}

.site-header-desktop {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);

  @media (max-width: $bp-sm) {
    display: none;
  }

  .company-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .h1 {
      margin-right: auto;
      font-size: 30px;
      color: var(--dark-blue-green);
    }

    .logo-container {
      margin-right: auto;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background-color: var(--booger);
  }

  .menu-item {
    background-color: var(--booger);
    padding: 10px 20px;

    .menu-link {
      color: var(--white);
      text-decoration: none;
      text-transform: uppercase;
    }

    &.nuxt-link-active {
      background-color: var(--secondary);

      .menu-link {
        color: var(--dark-blue-green);
      }
    }
  }
}
</style>
