<template>
  <article class="about-us-container main-container">
    <site-header />
    <section class="general-container">
      <p class="section-container">La SCME tiene la finalidad de integrar a los ecólogos mexicanos en una sociedad científica para estimular la investigación en todos los ámbitos de la disciplina, fomentando y fortaleciendo la comunicación entre los ecólogos y con la sociedad, promoviendo la aplicación responsable de los datos y teorías ecológicas y evolutivas para la conversación de la biodiversidad de México como país megadiverso, sus ecosistemas y los servicios ambientales que estos brindan a la sociedad, así como para contribuir a la resolución de problemas ambientales.</p>
    </section>
    <section class="objectives-section general-container">
      <h2 class="h2 section-container">Objetivos</h2>
      <ul class="about-us-list section-container">
        <li>Impulsar el desarrollo de la ciencia de la ecología en todas sus especialidades en razón de que México es un país con una elevada diversidad biológica.</li>
        <li>Promover la difusión del conocimiento científico en ecología y fomentar la comunicación entre los ecólogos de la República Mexicana.</li>
        <li>Organizar congresos, simposia y reuniones científicas sobre temas relaiconados con el quehacer en ecología.</li>
        <li>Publicar los resultados de la investigación científica en ecología en los medios que juzque pertinente, como libros, memorias, publicaciones periódicas y su boletín informativo.</li>
        <li>Reconocer la labor de los ecólogos mexicanos cuyo trabajo ha contribuido al desarrollo de esta disciplina cientídica en México, en todas sus especialidades.</li>
        <li>Reconocer el trabajo de investigación en ecología de los estudiantes mexicanos.</li>
        <li>Promover la divulgación científica en ecología en México.</li>
        <li>Fomentar la comunicación entre la comunidad científica en ecología y las dependencias estatales y federales mexicanas a fines en materia de ecología.</li>
        <li>Ejercer todas las actividades que sean afines, anexas, conexas o relacionadas con las antes mencionadas.</li>
        <li>Celebrar todos los actos y contratos necesarios o convenientes para el mejor logro de las finalidades apuntadas</li>
      </ul>
    </section>
    <section class="history-section general-container">
      <h2 class="h2 section-container">Historia</h2>
      <div class="history-content section-container">
        <p>La Sociedad Científica Mexicana de Ecología A.C. (SCME) se fundó el 2 de septiembre de 2005 en su sede actual, la Academia Mexicana de Ciencias.</p>
        <p>El acta de la Asamblea general Constitutiva de la SCME se firmó el 2 de septiembre de 2005, en la Ciudad de México. La Asamblea fue convocada por el Dr. Juan Nuñez Farfán, nombrándose como Presidente de la Asamblea al Dr. Héctor Arita Watanabe y como Secretario al Dr. Miguel Equihua Zamora. Una vez constituida la SCME, el primer Consejo Directivo quedó conformado como sigue:</p>
        <ul class="about-us-list history-list">
          <li><strong>Presidente</strong>: Juan Núñez Farfán</li>
          <li><strong>Vicepresidente</strong>: Arturo Flores Martínez</li>
          <li><strong>Secretario</strong>: Pedro Luis Valverde Padilla</li>
          <li><strong>Secretario</strong>: Néstor Mariano Bonigo</li>
          <li><strong>Tesorero</strong>: Zenón Cano Santana</li>
        </ul>
      </div>
    </section>
    <section class="board-history-section general-container">
      <h2 class="h2 section-container">Consejos directivos</h2>
      <div class="section-container">
        <table class="scme-table">
          <thead>
            <tr>
              <th scope="col">Periodo</th>
              <th scope="col">Presidente</th>
              <th scope="col">Vicepresidente</th>
              <th scope="col">Secretario</th>
              <th scope="col">Tesorero</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(board, index) in boards" :key="index">
              <td data-label="Periodo">{{ board.term }}</td>
              <td data-label="Presidente">{{ board.president }}</td>
              <td data-label="Vicepresidente">{{ board.vicepresident }}</td>
              <td data-label="Secretario">{{ board.secretary ? board.secretary : '' }}</td>
              <td data-label="Tesorero">{{ board.secretary ? board.treasurer: '' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="committee-section general-container">
      <h2 class="h2 section-container">Comités de la SCME</h2>
      <tabs>
        <tab name="La asamblea general">
          <div class="section-container">
            <p>La Asamblea general es el órgano supremo de la Sociedad y sus decisiones obligan a todos sus miembros, aún a los ausentes. En ella se someterá a la consideración el informe de actividades del año anterior y el programa de actividades del siguiente.</p>
          </div>
        </tab>
        <tab name="El consejo directivo">
          <div class="section-container">
            <p>El Consejo Directivo estará integrado por un Presidente, un Vicepresidente, dos secretarios y un tesorero que durarán en funciones dos años y por cada uno de los presidentes del Consejo Directivo de cada Sección Regional, quienes tendrán el carácter de vocales. Tendrá a su cargo la dirección de todos los asuntos de la Sociedad, las administración de la misma y la ejecución de las decisiones tomadas en las Asambleas Generales Ordinarias y Extraordinarias.</p>
          </div>
        </tab>
        <tab name="Comisión de membresía">
          <div class="section-container">
            <p>Resolverá cada caso por votación, firmará con su dictamen para ser entregado al solicitante. Podrá designar a otros miembros de la Sociedad para que se incorporen a está en los siguientes casos:</p>
            <ul>
              <li>Si alguno de los miembros se retira por un periodo mayor o igual a un año.</li>
              <li>Si alguno de los miembros renuncia.</li>
            </ul>
          </div>
        </tab>
        <tab name="Comisión de premios">
          <div class="section-container">
            <p>Decidirá por votación sobre los distintos premios que otorga la SCME, levantando el acta de resultado correspondiente, que para ser válida deberá ser firmada por la mayoría de los miembros de dicha comisión.</p>
          </div>
        </tab>
        <tab name="Secciones académicas">
          <div class="section-container">
            <p>La Sociedad se organiza en secciones representativas de las principales áreas de la ecología, para promover actividades de investigación, docencia, y difusión de la especialidad en ecología.</p>
          </div>
        </tab>
        <tab name="Secciones regionales">
          <div class="section-container">
            <p>La Sociedad creará Secciones Regionales a fin de organizar a sus miembros domiciliados en una región geográfica del país.</p>
          </div>
        </tab>
      </tabs>
    </section>
    <site-footer/>
  </article>
</template>

<script>
import axios from 'axios';
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      boards: []
    };
  },
  created() {
    axios
      .get(
        `http://cdn.contentful.com/spaces/${process.env.SPACE_ID}/entries?access_token=${
          process.env.ACCESS_TOKEN
        }&content_type=board&order=fields.term`
      )
      .then(response => {
        response.data.items.forEach(element => {
          const board = {
            term: element.fields.term,
            president: element.fields.president,
            vicepresident: element.fields.vicepresident,
            secretary: element.fields.secretary,
            treasurer: element.fields.treasurer
          };
          this.boards.push(board);
        });
      });
  }
};
</script>

<style lang="scss">
@import '~assets/scss/scssVariables';

.about-us-container {
  color: var(--warm-grey);

  .board-history-section,
  .objectives-section {
    background-color: var(--grey);
  }

  .about-us-list {
    list-style-position: inside;
  }

  .history-section {
    background-color: var(--secondary);
  }

  .history-list {
    padding-left: 0;
  }

  .committee-section {
    padding-bottom: 0;
    background-color: var(--grey);

    .tabs-component {
      .tabs-component-tabs {
        justify-content: flex-start;

        @media (min-width: 1450px) {
          justify-content: center;
        }
      }
    }
  }
}
</style>
