<template>
  <article class="contact-container main-container">
    <site-header/>
    <div class="contact-form-section general-container">
      <h4 class="section-container h4">Agradecemos cualquier sugerencia o comentario.</h4>
      <form @submit="onSubmit" id="contact-form" class="contact-form">
        <input type="text" name="name" id="name" placeholder="Nombre" v-model="name">
        <input type="email" name="email" id="email" placeholder="E-mail" v-model="email">
        <textarea name="message" id="message" cols="30" rows="8" placeholder="Escribe tu mensaje" v-model="message"></textarea>
        <a :href="contactHref" class="btn">Enviar</a>
      </form>
      <p class="section-container contact-mail-note">Puedes contactarnos también a través del siguiente correo:<br/><a class="scme-link" href="mailto:soc.mex.ecol@gmail.com?subject=Contacto+SCME">soc.mex.ecol@gmail.com</a></p>
    </div>
    <site-footer/>
  </article>
</template>

<script>
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      email: '',
      message: '',
      name: ''
    };
  },
  computed: {
    contactHref() {
      const href = `mailto:soc.mex.ecol@gmail.com?subject=Contacto SCME&body=Nombre: ${
        this.name
      }\nEmail: ${this.email}\nMensaje: ${this.message}`;

      return encodeURI(href);
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
    }
  }
};
</script>

<style lang="scss">
.contact-container {
  display: flex;
  flex-direction: column;

  .contact-form-section {
    flex-grow: 1;
    background-color: var(--secondary);
  }

  .h4 {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 60px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-blue-green);
  }

  .contact-form {
    margin: 0 auto 60px;
    padding: 0 20px;
    max-width: 800px;
    width: 100%;

    input,
    textarea {
      margin-bottom: 16px;
      padding: 5px 20px;
      width: 100%;
      border-radius: 4px;
      border: none;
    }

    .btn {
      display: block;
      margin: 0 auto;
      padding: 10px 30px;
      width: 120px;
      text-align: center;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--booger);
      }
    }
  }

  .contact-mail-note {
    color: var(--warm-grey);
    font-size: 20px;
    text-align: center;
  }
}
</style>
