<template>
  <article class="main-container">
    <site-header/>
    <article class="general-container posts-preview">
      <h2 class="h2 section-container">Todos los eventos</h2>
        <div class="section-container events-preview-content">
        <event v-for="(event, $index) in events" :key="$index" v-bind="event"></event>
      </div>
    </article>
    <site-footer/>
  </article>
</template>

<script>
import axios from 'axios';
import Event from '~/components/Event.vue';
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    Event,
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      events: []
    };
  },
  created() {
    axios
      .get(
        `http://cdn.contentful.com/spaces/${process.env.SPACE_ID}/entries?access_token=${
          process.env.ACCESS_TOKEN
        }&content_type=event&order=-sys.createdAt`
      )
      .then(response => {
        response.data.items.forEach(element => {
          const img = response.data.includes.Asset.find(
            asset => element.fields.img && element.fields.img.sys.id === asset.sys.id
          );
          const event = {
            info: element.fields.info,
            img: img ? img.fields.file.url : null,
            link: element.fields.link,
            title: element.fields.title
          };
          this.events.push(event);
        });
      });
  }
};
</script>
