<template>
  <article class="main-container">
    <home-header/>
    <cover/>
    <about-us-preview/>
    <posts-preview/>
    <events-preview/>
    <related-institutions/>
    <site-footer/>
  </article>
</template>

<script>
import AboutUsPreview from '~/components/AboutUsPreview.vue';
import Cover from '~/components/Cover.vue';
import EventsPreview from '~/components/EventsPreview.vue';
import HomeHeader from '~/components/HomeHeader.vue';
import PostsPreview from '~/components/PostsPreview.vue';
import RelatedInstitutions from '~/components/RelatedInstitutions.vue';
import SiteFooter from '~/components/SiteFooter.vue';

export default {
  components: {
    AboutUsPreview,
    Cover,
    EventsPreview,
    HomeHeader,
    PostsPreview,
    RelatedInstitutions,
    SiteFooter
  }
};
</script>
