<template>
  <article class="main-container">
    <site-header/>
    <article class="general-container posts-preview">
      <h2 class="h2 section-container">Todos los artículos</h2>
      <div class="section-container posts-container">
        <post v-for="(post, $index) in posts" :key="$index" v-bind="post"></post>
      </div>
    </article>
    <site-footer/>
  </article>
</template>

<script>
import axios from 'axios';
import Post from '~/components/Post.vue';
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    Post,
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      posts: []
    };
  },
  created() {
    axios
      .get(
        `http://cdn.contentful.com/spaces/${process.env.SPACE_ID}/entries?access_token=${
          process.env.ACCESS_TOKEN
        }&content_type=post&order=-sys.createdAt`
      )
      .then(response => {
        response.data.items.forEach(element => {
          const img = response.data.includes.Asset.find(
            asset => element.fields.img && element.fields.img.sys.id === asset.sys.id
          );
          const file = response.data.includes.Asset.find(
            asset => element.fields.file && element.fields.file.sys.id === asset.sys.id
          );
          const post = {
            file: file ? file.fields.file.url : null,
            img: img ? img.fields.file.url : null,
            link: element.fields.link,
            title: element.fields.title
          };
          this.posts.push(post);
        });
      });
  }
};
</script>
