<template>
  <article class="registration-container main-container">
    <site-header/>
    <section class="general-container">
      <h2 class="h2 section-container">Beneficios</h2>
      <div class="benefits-container section-container">
        <div class="registration-img-container">
          <img src="~/assets/img/beneficios.jpg" aria-hidden="true" class="img">
        </div>
        <ul class="registration-list">
          <li>Oportunidades de colaboración con ecólogos de todo el país.</li>
          <li>Intercambio de información con la comunidad de ecólogos de México.</li>
          <li>Tarifa especial en la reunión bianual de la Sociedad.</li>
          <li>Participación en las actividades de las secciones regionales de la Sociedad.</li>
          <li>Tarifa especial al suscribirse en la revista Solutions.</li>
          <li>Contribuir al funcionamiento de la SCME.</li>
        </ul>
      </div>
    </section>
    <section class="rights-section general-container">
      <h2 class="h2 section-container">Derechos</h2>
      <div class="rights-container section-container">
        <ul class="registration-list">
          <li>Participar en las Asambleas generales que sean convocadas en los términos de los Estatutos.</li>
          <li>Tener voz y voto en todas las Asambleas que se celebren, salvo en los casos estipulados en el artículo dos mil seiscientos setenta y nueve del Código Civil para el Distrito Federal y de su correlativo de los Códigos Civiles de los Estados de la República Mexicana.</li>
          <li>Votar para la elección de los miembros del Consejo Directivo y de la Comisión de Premios.</li>
          <li>Los demás que señalen en los Estatutos.</li>
        </ul>
        <div class="registration-img-container">
          <img src="~/assets/img/derechos.jpg" aria-hidden="true" class="img">
        </div>
      </div>
    </section>
    <section class="obligations-section general-container">
      <h2 class="h2 section-container">Obligaciones</h2>
      <div class="obligations-container section-container">
        <div class="registration-img-container">
          <img src="~/assets/img/obligaciones.jpg" aria-hidden="true" class="img">
        </div>
        <ul class="registration-list">
          <li class="list-item-without-bullet">Para el buen funcionamiento de la SCME es importante que:</li>
          <li>Los socios participen de manera activa manteniéndose al día en sus cuotas y tomando parte en las actividades que se organicen.</li>
          <li>Acatar los estatutos de la Sociedad y las normas que de ellos deriven.</li>
          <li>Participar en las asambleas generales a las que sean convocados en los términos de los Estatutos, siempre que se les sea posible.</li>
          <li>Desempeñar eficazmente las funciones que por designación o elección hayan aceptado.</li>
          <li>Proporcionar a la Sociedad información actualizada de su currículum vitae si ésta lo solicita.</li>
          <li>Estar al corriente con sus cuotas.</li>
        </ul>
      </div>
    </section>
    <section class="membership-section general-container">
      <h2 class="h2 section-container">Membresías</h2>
      <tabs>
        <tab name="Estudiantes">
          <div class="section-container">
            <p>Podrán ser miembros estudiantes quienes realicen estudios de licenciatura o posgrado en ecología en una institución mexicana, o cuyo trabajo de investigación se realice en México.</p>
            <ul class="registration-list">
              <li class="list-item-without-bullet">Documentos a enviar:</li>
              <li>Carta de intención.</li>
              <li>Curriculum vitae.</li>
              <li>Solicitud.</li>
              <li>Copia de la credencial vigente de estudiante.</li>
            </ul>
            <p>Una vez enviados los documentos solicitados, la comisión de membresía procesará la información y recibirás tu carta de bienvenida.</p>
          </div>
        </tab>
        <tab name="Regulares">
          <div class="section-container">
            <p>Podrán ser miembros regulares quienes trabajen la mayor parte del tiempo en México y sean ecólogos profesionales.</p>
            <ul class="registration-list">
              <li class="list-item-without-bullet">Documentos a enviar:</li>
              <li>Carta de intención.</li>
              <li>Curriculum vitae.</li>
              <li>Solicitud.</li>
            </ul>
            <p>Una vez enviados los documentos solicitados, la comisión de membresía procesará la información y recibirás tu carta de bienvenida.</p>
          </div>
        </tab>
        <tab name="Correspondientes">
          <div class="section-container">
            <p>Podrán ser miembros correspondientes los investigadores que hayan contribuido al desarrollo de la ecología en México y no residan en el país.</p>
            <ul class="registration-list">
              <li class="list-item-without-bullet">Documentos a enviar:</li>
              <li>Carta de propuesta por un Miembro Regular.</li>
              <li>Carta de aceptación del candidato.</li>
              <li>Curriculum vitae.</li>
              <li>Solicitud.</li>
            </ul>
            <p>Una vez enviados los documentos solicitados, la comisión de membresía procesará la información y recibirás tu carta de bienvenida.</p>
          </div>
        </tab>
        <tab name="Honorarios">
          <div class="section-container">
            <p>Podrán ser miembros honorarios los ecólogos que hayan hecho contribuciones sobresalientes en el campo de la ecología.</p>
            <ul class="registration-list">
              <li class="list-item-without-bullet">Documentos a enviar:</li>
              <li>Carta de propuesta de la persona candidata, suscrita por al menos diez Socios Regulares.</li>
              <li>Carta de aceptación del candidato.</li>
              <li>Curriculum vitae.</li>
              <li>Solicitud.</li>
            </ul>
            <p>Una vez enviados los documentos solicitados, la comisión de membresía procesará la información y recibirás tu carta de bienvenida.</p>
          </div>
        </tab>
      </tabs>
    </section>
    <section class="pricing-section general-container">
      <h2 class="h2 section-container">Cuotas</h2>
      <p class="section-container">A continuación, encontrarás información que te será útil para realizar el pago de tu membresía anual. Tu participación y el oportuno pago de tu cuota son indispensables para el desarrollo de las actividades de la Sociedad.</p>
      <div class="pricing-container section-container">
        <div class="pricing-content account-info">
          <p>Depósito bancario o transferencia electrónica en México</p>
          <ul class="registration-list">
            <li class="list-item-without-bullet">Nombre: <strong>Sociedad Científica Mexicana de Ecología, A.C.</strong></li>
            <li class="list-item-without-bullet">No. de Cuenta: <strong>0152181045</strong></li>
            <li class="list-item-without-bullet">CLABE: <strong>012180001521810453</strong></li>
            <li class="list-item-without-bullet">Banco: <strong>BBVA Bancomer</strong></li>
            <li class="list-item-without-bullet">Sucursal: <strong>0138, Bancomer Copilco</strong></li>
          </ul>
          <p>Depósito Bancario o Transferencia electrónica desde el extranjero</p>
          <ul class="registration-list">
            <li class="list-item-without-bullet">Nombre: <strong>Sociedad Científica Mexicana de Ecología, A.C.</strong></li>
            <li class="list-item-without-bullet">Banco: <strong>BBVA Bancomer</strong></li>
            <li class="list-item-without-bullet">Swift: <strong>BCMRMXMM</strong></li>
          </ul>
        </div>
        <div class="pricing-content">
          <table class="scme-table">
            <thead>
              <tr>
                <th scope="col" colspan="2">Membresía anual</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="pricing in pricings" :key="pricing.id">
                <td>{{ pricing.type }}</td>
                <td data-label="Membresía anual">{{ pricing.amount }}</td>
              </tr>
            </tbody>
          </table>
          <p class="pricing-note"><strong class="important-note">Importante:</strong> Una vez que hayas realizado el pago de tu membresía anual, no olvides enviarnos el comprobante del depósito y tus datos de contacto actualizados, al correo electrónico <a class="scme-link" href="mailto:soc.mex.ecol@gmail.com?subject=Membresía+SCME">soc.mex.ecol@gmail.com</a></p>
          <p class="pricing-note">Envía también tus datos fiscales (nombre completo, dirección fiscal y RFC) para expedir tu comprobante fiscal, tal como lo exige la legislación correspondiente.</p>
        </div>
      </div>
    </section>

    <site-footer/>
  </article>
</template>

<script>
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      pricings: [
        {
          id: 1,
          type: 'Estudiantes',
          amount: '$ 300 pesos M. N.'
        },
        {
          id: 2,
          type: 'Socios regulares',
          amount: '$ 450 pesos M. N.'
        },
        {
          id: 3,
          type: 'Correspondientes',
          amount: '$ 42 USD'
        }
      ]
    };
  }
};
</script>

<style lang="scss">
@import '~assets/scss/scssVariables';

.registration-container {
  color: var(--warm-grey);

  .registration-list {
    list-style-position: inside;
  }

  .registration-img-container {
    max-width: 100%;
    flex-shrink: 0;

    @media (min-width: $bp-xs) {
      width: 300px;
    }
  }

  .rights-section {
    background-color: var(--secondary);
  }

  .obligations-section {
    background-color: var(--grey);
  }

  .benefits-container,
  .rights-container,
  .obligations-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    @media (min-width: $bp-xs) {
      flex-direction: row;
      justify-content: flex-start;
    }

    .registration-list {
      margin-bottom: 20px;
      padding: 0;

      @media (min-width: $bp-xs) {
        margin: 0;
        padding-left: 20px;
      }
    }
  }

  .rights-container {
    flex-direction: column;

    @media (min-width: $bp-xs) {
      flex-direction: row;
    }

    .registration-list {
      margin-bottom: 20px;
      margin-top: 0;

      @media (min-width: $bp-xs) {
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }

  .membership-section {
    background-color: var(--grey);
    padding-bottom: 0;
  }

  .tabs-component-panel {
    .registration-list {
      padding-left: 0;
    }
  }

  .pricing-section {
    background-color: var(--grey);
  }
  .pricing-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media (min-width: $bp-xs) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
    }

    .pricing-content {
      width: 100%;

      @media (min-width: $bp-xs) {
        width: 48%;
      }
    }

    .account-info {
      .registration-list {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0;
      }
    }

    .scme-table {
      margin-bottom: 20px;
    }

    .pricing-note {
      font-size: 14px;
    }

    .important-note {
      color: var(--dark-blue-green);
      text-transform: uppercase;
    }
  }
}
</style>
