<template>
  <article class="scientific-production-container main-container">
    <site-header/>
    <section class="general-container">
      <p class="section-container publication-p">La SCME es de todos. Comparte los hallazgos más relevantes de tu investigación. Estos son ejemplos más recientes de lo que hacen los ecólogos en México (localizados en Web of Science). La elección se hizo considerando las publicaciones más recientes y tratando de cubrir la mayor cantidad de disciplinas dentro de la ecología.</p>
      <p class="section-container publication-p">¡Ayúdanos a mantenerla al día!</p>
    </section>
    <section class="publications-section general-container" v-for="yearlyPublication in yearlyPublications" :key="yearlyPublication.year">
      <h2 class="h2 section-container">{{ yearlyPublication.year }}</h2>
      <p class="section-container publication-p" v-for="(publication, $index) in yearlyPublication.publications" :key="$index" v-html="publication"></p>
    </section>
    <site-footer/>
  </article>
</template>

<script>
import SiteFooter from '~/components/SiteFooter.vue';
import SiteHeader from '~/components/SiteHeader.vue';

export default {
  components: {
    SiteFooter,
    SiteHeader
  },
  data() {
    return {
      yearlyPublications: [
        {
          year: 2016,
          publications: [
            'Graciela García-Guzmán, Irma Trejo, María Esther Sánchez-Coronado. 2016. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0378112716301335"><strong>Foliar diseases in a seasonal tropical dry forest: Impacts of habitat fragmentation.</strong></a> Forest Ecology and Management 369 (2016) 126–134.',
            'Chávez-Vergara, B., A. Rosales-Castillo, A. Merino, G. Vázquez-Marrufo, K. Oyama and F. García-Oliva 2016. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0038071716300529"><strong><em>Quercusspecies</em> control nutrients dynamic by determining the composition and activity of forest floor fungal community.</strong></a> Soil Biology and Biochemistry 98: 186-195. Doi: 10.1016/j.soilbio.2016.04.015.',
            'Sandoval-Pérez, A.L., S.L. Camargo-Ricalde, N.M. Montaño, F. García-Oliva, A. Alarcón, S.A. Montaño-Arias and M. Esperón-Rodríguez 2016. <a class="scme-link" target="_blank" href="https://www.researchgate.net/publication/299560540_Biocrusts_inside_and_outside_resource_islands_of_Mimosa_luisana_Leguminosae_improve_soil_carbon_and_nitrogen_dynamics_in_a_tropical_semiarid_ecosystem"><strong>Biocrusts, inside and outside resource islands of <em>Mimosa luisana</em> (Leguminosae), improve soil carbon and nitrogen dynamics in a Mexican semiarid ecosystem.</strong></a> European Journal of Soil Biology 74: 93-103.doi:10.1016/j.ejsobi.2016.03.006.',
            'Calderón-Cortés, N., C.A. Uribe-Mú, A.K. Martínez-Méndez, L.H. Escalera-Vázquez, E.J. Cristobal-Pérez, F. García-Olivaand M. Quesada 2016. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S002219101530007X"><strong>Ecosystem engineering and manipulation of host plant tissues by the insect borer <em>Oncideres albomarginata Chamela</em></strong></a>. Journal of Insect Physiology 84: 128-136. Doi: 10.1016/j.jinsphys.2015.10.008.',
            'Gabriela Castellanos-Moralesa, Niza Gámeza, Reyna A. Castillo-Gámezb, Luis E. Eguiartea. 2016. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S1055790315002584"><strong>Peripatric speciation of an endemic species driven by Pleistocene climate change: The case of the Mexican prairie dog (Cynomys mexicanus)</strong></a>. Molecular Phylogenetics and Evolution. Volume 94, Part A, January 2016, Pages 171–181. doi:10.1016/j.ympev.2015.08.027.',
            'Lourens Poorter, Frans Bongers, t. Mitchell Aide, Angélica M. Almeyda Zambrano, Patricia Balvanera, Justin M. Becknell, Vanessa Boukili, Pedro H. S. Brancalion, Eben N. Broadbent, Robin L. Chazdon, Dylan Craven, Jarcilene S. de Almeida-Cortez, George A. L. Cabral, Ben H. J. de Jong, Julie S. Denslow, Daisy H. Dent, Saara J. DeWalt, Juan M. Dupuy, Sandra M. Durán, Mario M. Espírito-Santo, María C. Fandino, Ricardo G. César, Jefferson S. Hall, José Luis Hernandez-Stefanoni, Catarina C. Jakovac, André B. Junqueira, Deborah Kennard, Susan G. Letcher, Juan-Carlos Licona, Madelon Lohbeck, Erika Marín-Spiotta, Miguel Martínez-Ramos, Paulo Massoca, Jorge A. Meave, Rita Mesquita, Francisco Mora, Rodrigo Muñoz, Robert Muscarella, Yule R. F. Nunes, Susana Ochoa-Gaona Alexandre A. de Oliveira, Edith orihuela-Belmonte, Marielos Peña-Claros, Eduardo A. Pérez-García, Daniel Piotto, Jennifer S. Powers, Jorge Rodríguez-Velázquez, I. Eunice Romero-Pérez, Jorge Ruíz, Juan G. Saldarriaga, Arturo Sanchez-Azofeifa, Naomi B. Schwartz, Marc K. Steininger, nathan G. Swenson, Marisol Toledo, Maria Uriarte, Michiel van Breugel, Hans van der Wal, Maria D. M. Veloso, Hans F. M. Vester, Alberto Vicentini, Ima C. G. Vieira, Tony Vizcarra Bentos, G. Bruce Williamson &amp; Danaë M. A. Rozendaal. <span>2016.</span> <a class="scme-link" target="_blank" href="http://www.nature.com/nature/journal/v530/n7589/full/nature16512.html" target="_blank"><strong>Biomass resilience of Neotropical secondary forests</strong></a>. Nature. doi:10.1038/nature16512',
            'Kai M. A. Chana, Patricia Balvanera, Karina Benessaia, Mollie Chapman, Sandra Díaz, Erik Gómez-Baggethun, Rachelle Gouldg, Neil Hannahs, Kurt Jax , Sarah Klain, Gary W. Luck, Berta Martín-López, Barbara Muraca, Bryan Nortonm, Konrad Ott, Unai Pascual, Terre Satterfield, Marc Tadaki, Jonathan Taggart, and Nancy Turner. 2016. <strong><a class="scme-link" target="_blank" href="http://www.pnas.org/content/113/6/1462" target="_blank">Why protect nature? Rethinking values and the environment</a>.</strong> PNAS. www.pnas.org/cgi/doi/10.1073/pnas.1525002113'
          ]
        },
        {
          year: 2015,
          publications: [
            'Norden, N., Angarita, H.A., Bongers, F., Martínez-Ramos, M., Cerda, I.G.-D.L., Van Breugel, M., Lebrija-Trejos, E., Meave, J.A., Vandermeer, J., Williamson, G.B., Finegan, B., Mesquita, R., Chazdon, R.L. 2015. <strong><a class="scme-link" target="_blank" href="http://www.pnas.org/content/112/26/8013">Successional dynamics in Neotropical forests are as uncertain as they are predictable</a></strong>. Proceedings of the National Academy of Sciences of the United States of America. Volume 112, Issue 26, Pages 8013-8018 ',
            'Lohbeck M, Lebrija-Trejos E, Martínez-Ramos M, Meave JA, Poorter L, Bongers F. 2015. <strong><a class="scme-link" target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0123741">Functional Trait Strategies of Trees in Dry and Wet Tropical Forests Are Similar but Differ in Their Consequences for Succession</a></strong>. PLoS ONE 10(4): e0123741. doi:10.1371/journal.pone.0123741   ',
            'Paula Meli , José María Rey Benayas, Miguel Martínez Ramos, Julia Carabias. 2015. <strong><a class="scme-link" target="_blank" href="http://link.springer.com/article/10.1007/s11056-015-9479-3/fulltext.html">Effects of grass clearing and soil tilling on establishment of planted tree seedlings in tropical riparian pastures</a></strong>. New Forests. 46 (4), pp. 507-525 ',
            'Ignacio Torres, Alejandro Casas, Ernesto Vega, Miguel Martínez-Ramos, And América Delgado-Lemus. 2015. <strong><a class="scme-link" target="_blank" href="http://link.springer.com/article/10.1007%2Fs12231-014-9295-2">Population Dynamics and Sustainable Management of Mescal Agaves in Central Mexico: Agave potatorum in the TehuacánCuicatlán Valley</a></strong>. Economic Botany, 69(1), 2015, pp. 26–41',
            'Madelon Lohbeck, Lourens Poorter, Miguel Martínez-Ramos, and Frans Bongers. 2015. <strong><a class="scme-link" target="_blank" href="http://dx.doi.org/10.1890/14-0472.1">Biomass is the main driver of changes in ecosystem process rates during tropical forest succession</a></strong>. Ecology 96:1242–1252.  ',
            'Erika de la Peña-Cuéllar, Julieta Benítez-Malvido, Luis Daniel Avila-Cabadilla, Miguel Martínez-Ramos and Alejandro Estrada. 2015. <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/ece3.1375/abstract;jsessionid=3AE8F8CAAAC627D61530A0FDE2A67AFA.f04t03">Structure and diversity of phyllostomid bat assemblages on riparian corridors in a human-dominated tropical landscape</a></strong>. Ecology and Evolution. DOI: 10.1002/ece3.1375.',
            'Letcher, S. G., Lasky, J. R., Chazdon, R. L., Norden, N., Wright, S. J., Meave, J. A., Pérez-García, E. A., Muñoz, R., Romero-Pérez, E., Andrade, A., Andrade, J. L., Balvanera, P., Becknell, J. M., Bentos, T. V., Bhaskar, R., Bongers, F., Boukili, V., Brancalion, P. H. S., César, R. G., Clark, D. A., Clark, D. B., Craven, D., DeFrancesco, A., Dupuy, J. M., Finegan, B., González-Jiménez, E., Hall, J. S., Harms, K. E., Hernández-Stefanoni, J. L., Hietz, P., Kennard, D., Killeen, T. J., Laurance, S. G., Lebrija-Trejos, E. E., Lohbeck, M., Martínez-Ramos, M., Massoca, P. E. S., Mesquita, R. C. G., Mora, F., Muscarella, R., Paz, H., Pineda-García, F., Powers, J. S., Quesada-Monge, R., Rodrigues, R. R., Sandor, M. E., Sanaphre-Villanueva, L., Schüller, E., Swenson, N. G., Tauro, A., Uriarte, M., van Breugel, M., Vargas-Ramírez, O., Viani, R. A. G., Wendt, A. L., Williamson, G. B. (2015), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/1365-2745.12435/abstract">Environmental gradients and the evolution of successional habitat specialization: a test case with 14 Neotropical forest sites</a></strong>. Journal of Ecology, 103: 1276–1290. doi: 10.1111/1365-2745.12435.',
            'Chaves, O. M., Arroyo-Rodríguez, V., Martínez-Ramos, M. and Stoner, K. E. (2015), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/ajp.22364/abstract">Primate extirpation from rainforest fragments does not appear to influence seedling recruitment</a></strong>. Am. J. Primatol., 77: 468–478. doi: 10.1002/ajp.22364.',
            'Hernández-Ordóñez, O., Urbina-Cardona, N. and Martínez-Ramos, M. (2015), Recovery of Amphibian and Reptile Assemblages During Old-Field Succession of Tropical Rain Forests. Biotropica, 47: 377–388. doi: 10.1111/btp.12207 http://onlinelibrary.wiley.com/doi/10.1111/btp.12207/abstract.',
            'Suazo-Ortuño, I., Lopez-Toledo, L., Alvarado-Díaz, J. and Martínez-Ramos, M. (2015), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/btp.12181/abstract">Land-use Change Dynamics, Soil Type and Species Forming Mono-dominant Patches: the Case of Pteridium aquilinum in a Neotropical Rain Forest Region</a></strong>. Biotropica, 47: 18–26. doi: 10.1111/btp.12181 ',
            'Hernández-Barrios, J. C., Anten, N. P. R., Martínez-Ramos, M. (2015), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/1365-2664.12384/abstract">Sustainable harvesting of non-timber forest products based on ecological and economic criteria</a></strong>. Journal of Applied Ecology, 52: 389–401. doi: 10.1111/1365-2664.12384.',
            'Zermeño-Hernández, I., Méndez-Toribio, M., Siebe, C., Benítez-Malvido, J., Martínez-Ramos, M. (2015), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/avsc.12161/abstract">Ecological disturbance regimes caused by agricultural land uses and their effects on tropical forest regeneration</a></strong>. Applied Vegetation Science, 18: 443–455. doi: 10.1111/avsc.12161.',
            'Yunuen Tapia-Torres, James J. Elser, Valeria Souzac y Felipe García-Oliva. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0038071715001492"><strong>Ecoenzymatic stoichiometry at the extremes: How microbes cope in an ultra-oligotrophic desert soil</strong></a>. Soil Biology and Biochemistry. doi:10.1016/j.soilbio.2015.04.007.',
            'Lee ZM, Steger L, Corman JR, Neveu M, Poret-Peterson AT, Souza V, et al. (2015). <a class="scme-link" target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0123949"><strong>Response of a Stoichiometrically Imbalanced Ecosystem to Manipulation of Nutrient Supplies and Ratios</strong></a>. PLoS ONE 10(4): e0123949. doi:10.1371/journal.pone.0123949',
            'Pajares S, Souza V, Eguiarte LE. (2015). <a class="scme-link" target="_blank" href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0119741"><strong>Multivariate and Phylogenetic Analyses Assessing the Response of Bacterial Mat Communities from an Ancient Oligotrophic Aquatic Ecosystem to Different Scenarios of Long-Term Environmental Disturbance</strong></a>. PLoS ONE 10(3): e0119741. doi:10.1371/journal.pone.0119741',
            'Yunuen Tapia-Torresa, Nguyen E. López-Lozanob, c, Valeria Souzac, Felipe García-Olivaa. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0140196314002407"><strong>Vegetation-soil system controls soil mechanisms for nitrogen transformations in an oligotrophic Mexican desert. Journal of Arid Environments</strong></a>. Volume 114, March 2015, Pages 62–69. doi:10.1016/j.jaridenv.2014.11.007',
            'Aguirre-von-Wobeser E, Eguiarte LE, Souza V and Soberón-Chávez G. (2015). <a class="scme-link" target="_blank" href="http://journal.frontiersin.org/article/10.3389/fmicb.2015.00490/abstract"><strong>Theoretical analysis of the cost of antagonistic activity for aquatic bacteria in oligotrophic environments</strong></a>. Front. Microbiol. 6:490. doi: 10.3389/fmicb.2015.00490',
            'Evan W. Carson, Valeria Souza, Hector Espinosa-Pérez and Thomas F. Turner. <a class="scme-link" target="_blank" href="http://www.bioone.org/doi/full/10.3398/064.075.0208"><strong>Mitochondrial DNA Diversity and Phylogeography of Lucania interioris Inform Biodiversity Conservation in the Cuatro Ciénegas Basin, México</strong></a>. 2015. Western North American Naturalist, 75(2):200-208. DOI: http://dx.doi.org/10.3398/064.075.0208',
            'Ponce-Soto GY, Aguirre-von-Wobeser E, Eguiarte LE, Elser JJ, Lee ZM-P and Souza V. (2015). <a class="scme-link" target="_blank" href="http://journal.frontiersin.org/article/10.3389/fmicb.2015.00246/abstract"><strong>Enrichment experiment changes microbial interactions in an ultra-oligotrophic environment</strong></a>. Front. Microbiol. 6:246. doi: 10.3389/fmicb.2015.00246',
            'Espinosa-Asuar, L.a, Escalante, A.E.b, Falcón, L.I.a, Bonilla-Rosso, G.a, Ramírez-Barahona, S.a, Eguiarte, L.E.a, Souza, V.a. 2014. <a class="scme-link" target="_blank" href="http://www.scopus.com/record/display.uri?eid=2-s2.0-84930581659&amp;origin=resultslist&amp;sort=plf-f&amp;src=s&amp;st1=Souza&amp;st2=Valeria&amp;nlo=1&amp;nlr=20&amp;nls=&amp;sid=7A6D7FE5675CB6CECBFD998CCAE3DEC0.WlW7NKKC52nnQNxjqAQrlA%3a132&amp;sot=anl&amp;sdt=aut&amp;sl=43&amp;s=AU-ID%28%22Souza+Saldivar%2c+Valeria%22+7006367707%29&amp;relpos=7&amp;citeCnt=0&amp;searchTerm=AU-ID%28%5C%26quot%3BSouza+Saldivar%2C+Valeria%5C%26quot%3B+7006367707%29"><strong>Analysis of three molecular methods to describe sea Yucatan, Mexico environmental prokaryotic taxa (Article) [Comparación de tres métodos moleculares para el análisis de procariontes ambientales en el mar del canal de Yucatán, México]</strong></a>. Volume 24, Issue 3, 2014, Pages 257-270.',
            'Ramírez-Barahona, S. and Eguiarte, L. E. (2015), <a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/boj.12248/abstract;jsessionid=6EA56C08707A78AFD844E2B562106D65.f02t04"><strong>Spatial genetic analyses reveal strong genetic structure in two populations of the outcrossing tree fern Alsophila firma (Cyatheaceae)</strong></a>. Botanical Journal of the Linnean Society, 177: 439–449. doi: 10.1111/boj.12248',
            'Marco A. Rodríguez-Rodríguez, Jaime Gasca-Pineda, Rodrigo A. Medellín, Luis E. Eguiarte. 2015. <a class="scme-link" target="_blank" href="http://dx.doi.org/10.1093/jmammal/gyv066%20473-480"><strong>Analysis of genetic diversity of bighorn sheep (Ovis canadensis) from Mexican populations.</strong></a> Journal of Mammalogy. DOI: http://dx.doi.org/10.1093/jmammal/gyv066 473-480',
            'Michael J. Sanderson, Dario Copetti, Alberto Búrquez, Enriquena Bustamante, Joseph L. M. Charboneau, Luis E. Eguiarte, Sudhir Kumar, Hyun Oh Lee, Junki Lee, Michelle McMahon, Kelly Steele, Rod Wing, Tae-Jin Yang, Derrick Zwickl and and Martin F. Wojciechowski. 2015. <a class="scme-link" target="_blank" href="http://www.amjbot.org/content/102/7/1115.full.pdf+html"><strong>Exceptional reduction of the plastid genome of saguaro cactus ( Carnegiea gigantea ): Loss of the ndh gene suite and inverted repeat</strong></a>. American Journal of Botany.',
            'R. Carlos Almazán-Núñez, María del Coro Arizmendi, Luis E. Eguiarte and Pablo Corcuera (2015). <a class="scme-link" target="_blank" href="http://journals.cambridge.org/action/displayAbstract?fromPage=online&amp;aid=9456271&amp;fileId=S0266467414000601"><strong>Distribution of the community of frugivorous birds along a successional gradient in a tropical dry forest in south-western Mexico</strong></a>. Journal of Tropical Ecology, 31, pp 57-68. doi:10.1017/S0266467414000601.',
            'Roberto Emiliano Trejo-Salazar, Enrique Scheinvar y Luis E. Eguiarte. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S1870345315000081"><strong>¿Quién poliniza realmente los agaves? Diversidad de visitantes florales en 3 especies de Agave (Agavoideae: Asparagaceae) Who really pollinates agaves? Diversity of floral visitors in three species of Agave (Agavoideae: Asparagaceae).</strong></a> Revista Mexicana de Biodiversidad 86 (2015) 358–369',
            'Gabriela Castellanos-Morales, Jorge Ortega, Reyna A. Castillo-Gámez, Loren C. Sackett and Luis E. Eguiarte. 2015. <a class="scme-link" target="_blank" href="http://jhered.oxfordjournals.org/content/106/S1/478"><strong>Genetic Variation and Structure in Contrasting Geographic Distributions: Widespread Versus Restricted Black-Tailed Prairie Dogs (Subgenus Cynomys).</strong></a> Journal of Heredity Volume 106, Issue S1Pp. 478-490',
            'Méndez-Alonzo, R., Moctezuma, C., Ordoñez, V.R., Ángeles, G., Martínez, A.J., López-Portillo, J. 2015. <a class="scme-link" target="_blank" href="http://aob.oxfordjournals.org/content/115/5/833"><strong>Root biomechanics in Rhizophora mangle: Anatomy, morphology and ecology of mangrove&#39;s flying buttresses. Annals of Botany</strong></a>. Volume 115, Issue 5, Pages 833-840',
            'Suazo-Ortuño, I., Alvarado-Díaz, J., Mendoza, E., López-Toledo, L., Lara-Uribe, N., Márquez-Camargo, C., Paz-Gutiérrez, J.G., Rangel-Orozco, J.D. 2015. <a class="scme-link" target="_blank" href="http://www.inirena.umich.mx/images/leo/publicacion/Lopez-Toledo_et_al_2015_BS_Efectos_sobre_B_aculeata.pdf"><strong>High resilience of herpetofaunal communities in a human-modified tropical dry forest landscape in western Mexico</strong></a>. Tropical Conservation Science. Volume 8, Issue 2. Pages 396-423',
            'Poorter, L., van der Sande, M. T., Thompson, J., Arets, E. J. M. M., Alarcón, A., Álvarez-Sánchez, J., Ascarrunz, N., Balvanera, P., Barajas-Guzmán, G., Boit, A., Bongers, F., Carvalho, F. A., Casanoves, F., Cornejo-Tenorio, G., Costa, F. R. C., de Castilho, C. V., Duivenvoorden, J. F., Dutrieux, L. P., Enquist, B. J., Fernández-Méndez, F., Finegan, B., Gormley, L. H. L., Healey, J. R., Hoosbeek, M. R., Ibarra-Manríquez, G., Junqueira, A. B., Levis, C., Licona, J. C., Lisboa, L. S., Magnusson, W. E., Martínez-Ramos, M., Martínez-Yrizar, A., Martorano, L. G., Maskell, L. C., Mazzei, L., Meave, J. A., Mora, F., Muñoz, R., Nytch, C., Pansonato, M. P., Parr, T. W., Paz, H., Pérez-García, E. A., Rentería, L. Y., Rodríguez-Velazquez, J., Rozendaal, D. M. A., Ruschel, A. R., Sakschewski, B., Salgado-Negret, B., Schietti, J., Simões, M., Sinclair, F. L., Souza, P. F., Souza, F. C., Stropp, J., ter Steege, H., Swenson, N. G., Thonicke, K., Toledo, M., Uriarte, M., van der Hout, P., Walker, P., Zamora, N. and Peña-Claros, M. (2015), <a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/geb.12364/abstract"><strong>Diversity enhances carbon storage in tropical forests</strong></a>. Global Ecology and Biogeography, 24: 1314–1328. doi: 10.1111/geb.12364',
            'Guillén, S., Martínez-Palacios, A., Martínez, H., Martínez-Ávalos, J.G. 2015. Somatic embryogenesis and organogenesis of Beaucarnea inermis (Asparagaceae), a threatened species from Northeastern Mexico. [Organogénesis y embriogénesis somática de Beaucarnea inermis (Asparagaceae), una especie amenazada del Noreste de México]. Botanical Sciences. Volume 93, Issue 2, 1. Pages 367-374',
            'Martínez-Ávalos, J.G., Sánchez-Castillo, C., Martínez-Gallegos, R., Sánchez-Ramos, G., Trejo, I., Mora-Olivo, A., Alanis, E. 2015. First record of Pinus Pinceana (Pinaceae) for Tamaulipas: Ecological and structural aspects. [Primer registro de Pinus Pinceana (Pinaceae) para Tamaulipas: Aspectos ecológicos y estructurales]. Botanical Sciences. Volume 93, Issue 2, Pages 875-882.',
            'Víctor Manuel Reyes Gómeza, Oscar Viramontes Olivasb, Jose Tulio Arredondo Morenoc, Elisabeth Huber Sannwaldc, Alfredo Rangel Rodríguezb. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0169204615000584"><strong>Functional ecohydrological differences among native and exotic grassland covers in sub-urban landscapes of Chihuahua city, Mexico</strong></a>. Landscape and Urban Planning. Volume 139, Pages 54–62.',
            'Carlos A. Anaya, Elisabeth Huber-Sannwald. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0167198714002487"><strong>Long-term soil organic carbon and nitrogen dynamics after conversion of tropical forest to traditional sugarcane agriculture in East Mexico</strong></a>. Soil and Tillage Research. Volume 147, Pages 20–29.',
            'G. García-Marmolejo, L. Chapa-Vargas, M. Weber, E. Huber-Sannwald. 2015.<a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S2351989415000359"><strong> Landscape composition influences abundance patterns and habitat use of three ungulate species in fragmented secondary deciduous tropical forests, Mexico</strong></a>. Global Ecology and Conservation. Volume 3, Pages 744–755.',
            'Delgado-Baquerizo, M., Maestre, F. T., Gallardo, A., Eldridge, D. J., Soliveres, S., Bowker, M. A., Prado-Comesaña, A., Gaitán, J., Quero, J. L., Ochoa, V., Gozalo, B., García-Gómez, M., García-Palacios, P., Berdugo, M., Valencia, E., Escolar, C., Arredondo, T., Barraza-Zepeda, C., Boeken, B. R., Bran, D., Cabrera, O., Carreira, J. A., Chaieb, M., Conceição, A. A., Derak, M., Ernst, R., Espinosa, C. I., Florentino, A., Gatica, G., Ghiloufi, W., Gómez-González, S., Gutiérrez, J. R., Hernández, R. M., Huber-Sannwald, E., Jankju, M., Mau, R. L., Miriti, M., Monerris, J., Morici, E., Muchane, M., Naseri, K., Pucheta, E., Ramírez, E., Ramírez-Collantes, D. A., Romão, R. L., Tighe, M., Torres, D., Torres-Díaz, C., Val, J., Veiga, J. P., Wang, D., Yuan, X. and Zaady, E. (2015), <a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/geb.12382/abstract"><strong>Human impacts and aridity differentially alter soil N availability in drylands worldwide</strong></a>. Global Ecology and Biogeography. doi: 10.1111/geb.12382.',
            'Ulises Rodríguez-Robles, J. Tulio Arredondo, Elisabeth Huber-Sannwald, Rodrigo Vargas. 2015. <a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/nph.13344/abstract"><strong>Geoecohydrological mechanisms couple soil and leaf water dynamics and facilitate species coexistence in shallow soils of a tropical semiarid mixed forest</strong></a>. DOI: 10.1111/nph.13344n.',
            'José Luis Navarrete-Heredia, Juan Márquez. 2015. <a class="scme-link" target="_blank" href="http://biotaxa.org/Zootaxa/article/view/zootaxa.3914.1.5/11517"><strong>Description of the male of Oxyporus bautistae Márquez &amp; Asiain (Coleoptera: Staphylinidae, Oxyporinae)</strong></a>. Zootaxa 3914 (1): 071–076. DOI: http://dx.doi.org/10.11646/zootaxa.3914.1.5.',
            'Juan Márquez, José Luis Navarrete-Heredia and Julieta Asiain. 2015. F<a class="scme-link" target="_blank" href="http://www.bioone.org/doi/10.3157/021.124.0513"><strong>irst State Records for Three Mexican Staphylininae (Coleoptera: Staphylinidae) with Comments on Their Distributional Patterns</strong></a>. Entomological News 124(5):375-379. doi: http://dx.doi.org/10.3157/021.124.0513.',
            'Ana Laura González-Hernández, José Luis Navarrete-Heredia, Georgina Adriana Quiroz-Rocha, Cuauhtémoc Deloya. 2015. <a class="scme-link" target="_blank" href="http://www.sciencedirect.com/science/article/pii/S1870345315000822"><strong>Coleópteros necrócolos (Scarabaeidae: Scarabaeinae, Silphidae y Trogidae) del Bosque Los Colomos, Guadalajara, Jalisco, México</strong></a>. Necrocolous beetles (Scarabaeidae: Scarabaeinae, Silphidae and Trogidae) from Bosque Los Colomos, Guadalajara, Jalisco, Mexico. Revista Mexicana de Biodiversidad. Volume 86, Issue 3, Pages 764–770. doi:10.1016/j.rmb.2015.07.006.',
            'William David Rodríguez, José Luis Navarrete-Heredia. 2015. <a class="scme-link" target="_blank" href="http://biotaxa.org/Zootaxa/article/view/zootaxa.3918.4.9/11891"><strong>A new Mexican species of Megarthrus Curtis (Coleoptera, Staphylinidae, Proteininae)</strong></a>. Zootaxa 3918 (4): 594–598 . DOI: http://dx.doi.org/10.11646/zootaxa.3918.4.9.',
            'J. Boone Kauffman , Humberto Hernandez Trejo, Maria del Carmen Jesus Garcia, Chris Heider, Wilfrido M. Contreras. 2015. <a class="scme-link" target="_blank" href="http://www.inirena.umich.mx/images/leo/publicacion/Suazo-Ortuno_et_al_2015_TCS_Herpetofaunal_resilience.pdf"><strong>Carbon stocks of mangroves and losses arising from their conversion to cattle pastures in the Pantanos de Centla, Mexico</strong></a>. Wetlands Ecology and Management. pp 1-14',
            'Lopez-Toledo, L., Espinoza-Hidalgo, C., Horn, C., Endress, B.A. 2015. <a class="scme-link" target="_blank" href="http://www.inirena.umich.mx/images/leo/publicacion/Lopez-Toledo_et_al_2015_BS_Efectos_sobre_B_aculeata.pdf"><strong>Manejo tradicional y demografía de la palma Brahea aculeata en una selva seca del sur de Sonora, México</strong></a>. Botanical Sciences.',
            'Suazo-Ortuño, I., Lopez-Toledo, L., Alvarado, J., Martínez-Ramos, M. 2015. <a class="scme-link" target="_blank" href="http://www.inirena.umich.mx/images/leo/publicacion/Suazo_et_al_2015_BIOTR_Land_use_and_Pteridium_aquilinum.pdf"><strong>Land-use histories, soil type and invasiveness of Pteridium aquilinum in a Neotropical rainforest region</strong></a>. Biotropica 47: 18-26.',
            'Arredondo-Amezcua, L., Lopez-Toledo, L. &amp; Ibarra-Manríquez, G. 2015. <a class="scme-link" target="_blank" href="http://www.inirena.umich.mx/images/leo/publicacion/Arredondo-Amezcua_et_al_2015_BS_Espectro_de_dispersion_de_la_flora_len%CC%83osa_de_Chamela.pdf"><strong>Espectro de dispersión de la flora leñosa del bosque tropical caducifolio en el neotrópico</strong></a>. Botanical Sciences 93:1-10.',
            'Marcela Ruiz &amp; Jorge López-Portillo. 2015. <a class="scme-link" target="_blank" href="http://www.researchgate.net/publication/272836515_Spatial-temporal_variation_of_the_macroinvertebrate_epibiont_community_on_red_mangrove_prop_roots_Rhizophora_mangle_%28Rhizophoraceae%29_at_La_Mancha_coastal_lagoon_Veracruz_Mexico"><strong>Variación espacio-temporal de la comunidad de macroinvertebrados epibiontes en las raíces del mangle rojo Rhizophora mangle (Rhizophoraceae) en la laguna costera de La Mancha, Veracruz, México</strong></a>. Revista de biologia tropical. 12/2014; 62(4):1309-30.',
            'Humberto Hernandez Trejo, John Boone Kauffman, Maria del Carmen Jesus Garcia, Wilfrido Contreras Sanchez y Chris Heider. 2015. <a class="scme-link" target="_blank" href="http://www.researchgate.net/publication/282328062_Carbon_sotcks_of_mangroves_and_looses_arising_from_their_conversion_to_cattle_pastures_in_the_Pantanos_de_Centla_Mexico"><strong>Carbon sotcks of mangroves and looses arising from their conversion to cattle pastures in the Pantanos de Centla, Mexico</strong></a>. Wetlands Ecology and Management. DOI 10.1007/s11273-015-9453-z',
            'Bárbara Goettsch, Craig Hilton-Taylor, Gabriela Cruz-Piñón, James Philip Duffy, Anne Frances, Héctor M. Hernández. 2015. <a class="scme-link" target="_blank" href="http://www.researchgate.net/publication/282574950_High_proportion_of_cactus_species_threatened_with_extinction"><strong>High proportion of cactus species threatened with extinction</strong></a>. Nature Plants. DOI: 10.1038/nplants.2015.142',
            'DeWalt, S. J., Schnitzer, S. A., Alves, L. F., Bongers, F., Burnham, R. J., Cai, Z., Carson, W. P., Chave, J., Chuyong, G. B., Costa, F. R. C., Ewango, C. E. N., Gallagher, R. V., Gerwing, J. J., Amezcua, E. G., Hart, T., Ibarra-Manríquez, G., Ickes, K., Kenfack, D., Letcher, S. G., Macía, M. J., Makana, J.-R., Malizia, A., Martínez-Ramos, M., Mascaro, J., Muthumperumal, C., Muthuramkumar, S., Nogueira, A., Parren, M. P. E., Parthasarathy, N., Pérez-Salicrup, D. R., Putz, F. E., Romero-Saltos, H. G., Sridhar Reddy, M., Sainge, M. N., Thomas, D. and Melis, J. v. (2015). <a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/9781118392409.ch11/summary">Biogeographical patterns of liana abundance and diversity</a>, in Ecology of Lianas (eds S. A. Schnitzer, F. Bongers, R. J. Burnham and F. E. Putz), John Wiley &amp; Sons, Ltd, Chichester, UK. doi: 10.1002/9781118392409.ch11'
          ]
        },
        {
          year: 2014,
          publications: [
            'van Lent, J., Hernández-Barrios, J. C., Anten, N. P. R., Martínez-Ramos, M. (2014), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/1365-2745.12216/abstract">Defoliation effects on seed dispersal and seedling recruitment in a tropical rain forest understorey palm</a></strong><span>. Journal of Ecology, 102: 709–720. doi: 10.1111/1365-2745.12216',
            'Meli, P., Martínez-Ramos, M., Rey-Benayas, J. M., Carabias, J. (2014), <strong><a class="scme-link" target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1111/avsc.12096/abstract">Combining ecological, social and technical criteria to select species for forest restoration</a></strong>. Applied Vegetation Science, 17: 744–753. doi: 10.1111/avsc.12096'
          ]
        },
        {
          year: 2012,
          publications: [
            'Ludibeth, Solis-Mejia et al. 2012. <a class="scme-link" target="_blank" href="http://www.tandfonline.com/doi/abs/10.1080/1065657X.2012.10737016#.VHYSVdKG_HA"><strong>Vermicomposting of Sewage Sludge: Earthworm Population and Agronomic Advantages</strong>.</a> Compost Science and Utilization 20: 11-17. Universidad Autónoma del Estado de México',
            'López-Chuken, UJ et al. 2012.<a class="scme-link" target="_blank" href="http://link.springer.com/article/10.1007%2Fs13762-011-0018-2"><strong> Implications of chloride-enhanced cadmium uptake in saline agriculture: modeling cadmium uptake by maize and tobacco</strong></a>. International Journal of Environmental Science and Technology 9: 69-77. Universidad Autónoma de Nuevo León',
            'Cabrera-Guzmán y Victor Hugo Reynoso. 2012.<a class="scme-link" target="_blank" href="http://www.ijest.org/?_action=articleInfo&amp;article=552"><strong> Amphibian and reptile communities of rainforest fragments: minimum patch size to support high richness and abundance</strong></a>. Biodiversity and Conservation 21: 3243-3265. Instituto Biología, UNAM',
            'Álvarez-Molina LL et al. 2012.<strong><a class="scme-link" target="_blank" href="http://link.springer.com/article/10.1007/s11258-012-0114-5"> Richness, diversity, and rate of primary succession over 20 year in tropical coastal dunes</a>.</strong> Plant Ecology 13: 1597-1608. Instituto de Ecología, AC.',
            'Burgara-Montero O. et al. 2012. <strong><a class="scme-link" target="_blank" href="http://link.springer.com/article/10.1007%2Fs10098-012-0469-2">Optimal design of distributed treatment systems for the effluents discharged to the rivers</a>.</strong> Clean Technologies and Environmental Policy 14: 925-942. UMNSH'
          ]
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.scientific-production-container {
  .publications-section {
    &:nth-child(even) {
      background-color: var(--tertiary);
    }

    &:nth-child(odd) {
      background-color: var(--grey);
    }
  }

  .publication-p {
    margin-bottom: 20px;
  }
}
</style>
